<div *ngIf="showDevices;else other_content">
  <div class="container">
    <table class="table1">



      <tr>
        <th>Device</th>
        <th>State</th>
        <th>Location</th>
        <th>Date</th>

      </tr>
      <tr *ngFor="let device of devices">

        <td>
          {{device["device_id"]}}
        </td>

        <td>
          {{device["status"]}}
        </td>

        <td>
          {{device["location"]}}
        </td>

        <td>
          {{device["timestamp"]}}
        </td>

        <td class="medidas">
          <button (click)='getMeasurements(device)'>Measurements</button>
        </td>
      </tr>
      <tr class="medidas">
        <td class="medidas" colspan=4><button (click)='getDevices()' class="fetch">Fetch</button></td>

      </tr>
    </table>

  </div>
</div>

<ng-template #other_content>

  <button (click)='getBack()'>Back</button>

  <div>
    {{selectedDevice["device_id"]}} - {{selectedDevice["status"]}} - {{selectedDevice["location"]}}
  </div>
  <form name="myForm" ng-controller="ExampleController">
    Start date:
    <input [(ngModel)]="startDate" type="date" id="start" name="start" value="2000-01-08">
    End date:
    <input [(ngModel)]="endDate" type="date" id="end" name="end" value="3000-01-08">
    Temperature:
    <select name="measurements" id="filtering" [(ngModel)]=typeMeasurements>
      <option value="temp">Temperature</option>
      <option value="hum">Humidity</option>
      <option value="both" selected="selected">Both</option>
    </select>
    

  </form>
  <button (click)='filterMeasurements()'>Filter</button>
  <div>

  </div>

  <table class="table1">



    <tr>
      <th>Date</th>
      <th>Temperature</th>
      <th>Humidity</th>


    </tr>
    <tr *ngFor="let measurement of measurements">

      <td>
        {{measurement["timestamp"]}}
      </td>

      <td>
        {{measurement["temperature"]}}
      </td>

      <td>
        {{measurement["humidity"]}}
      </td>




    </tr>
  </table>


</ng-template>